# El Ñuro

A tool to get more information about your docker images.

![El Ñuro](image.png)

Source: https://larepublica.pe

## Getting started

```console
${HELP}
```

## Install

### Using Go

```console
go install github.com/jcchavezs/nuro@latest
```

## References

- <https://peru.info/en-us/tourism/blogperu/3/48/experience-the-pacific-whalewatching-season>
- <https://github.com/opencontainers/distribution-spec/blob/main/spec.md>
